body {
    width: 100%;
    font-family: 'Audiowide', cursive;
}

nav{
    margin-top: 50px;;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.content{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
}

button{
    background-color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}

#carouselName{
    color: rgb(55, 179, 236);
}
#carousel{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide', cursive;
}

#carousel h2{
    font-size: 80px;
}

.dark_mode{
    color: white;
    background-color: black;
}